@media only screen and (max-width: 900px)
{
    body{
        height: fit-content;
        width: fit-content;
        background: black;
    }
    header{
        position: absolute!important;
        width: 103vw;
        height: 75px;
    }
    nav{
        flex-direction: row;
    }
    nav ul li{
        margin:15px 20px 15px 20px;
        flex-direction: row;
    }
    nav ul{
        flex-direction: row;

    }
    nav ul li a{
        flex-direction: column;
        font-size: 1em;
        color: white!important;
    }
    .typing span{
        font-size: 1.5em;
    }
    .about-wrapper{
        margin-left: 0%;
        margin-right: 0%;
        height: 100vh;
        width: 101vw;
        font-size: 2em;
        margin-top: 70px;
        overflow-y: scroll;
        object-fit: cover;
    }
    .about-left{
        height: 100vh;
        width: 101vw;
    }
    .about-right{
        display: block;
        position: relative;
        font-size: 1em;
        width: 100vw;
        height: 100vh;
        padding: 2px;
    }
    .about-right h1{
        margin-top: 35px;
        font-size: 2em;
    }
    .about-right h2{
        /* margin-top: 35px; */
        font-size: 0.8em;
    }
    .about-right p{
        font-size: 0.5em;
        text-align: justify;
        padding: 10px;
    }
    .about-para{
        margin-top: 25px;
    }
    .about-btns{
        justify-content: center;
        align-items: center;
    }
    .content_container{
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        height: 100vh;
        width: 100vw;
    }
    .folders{
        margin-top: 100px;
        width: 100vw;
        flex-direction: row;
    }
    .folder span{
        font-size: 1em;
    }
    .folder1 img{
        width: 70px;
        height: 50px;

    }
    .folder1{
        padding: 5px;
    }
    .content_list {
        height: fit-content;
        width: 100vw;
        padding: 5px;
        margin-top: 40px;
        padding-bottom: 2px;
        margin-bottom: 50px;
    }
    

}